*{
  font-family: 'Poppins', sans-serif;
  color: #666;
}

body{
  margin: 0; padding: 0;
}

footer{
  display: flex;
  justify-content: center;
}

footer i{
  padding: 10px;
  color: #333;
  font-size: 30px;
}

header{
  display: flex;
  justify-content: center;
}